pkgbase = nf
	pkgdesc = Note Fast - A minimal terminal note-taking tool
	pkgver = 0.3.1
	pkgrel = 1
	url = https://github.com/KOUSTAV2409/nf
	arch = any
	license = MIT
	depends = bash
	optdepends = fzf: for interactive TUI and menu mode
	source = https://github.com/KOUSTAV2409/nf/archive/refs/tags/v0.3.1.tar.gz
	sha256sums = cb05d2607fd137d4ae7789e8a9c815b17f32d591f8df57d50088423ea6d2303b

pkgname = nf
