pkgbase = nf
	pkgdesc = Note Fast - A minimal terminal note-taking tool
	pkgver = 0.3.2
	pkgrel = 1
	url = https://github.com/KOUSTAV2409/nf
	arch = any
	license = MIT
	depends = bash
	optdepends = fzf: for interactive TUI and menu mode
	source = https://github.com/KOUSTAV2409/nf/archive/refs/tags/v0.3.2.tar.gz
	sha256sums = 26086dd06de7bb5e0626deb11d62c9cc75b2fedfb42af07ea61e78ef131cb8f6

pkgname = nf
